#information_plant {
	position: absolute;
	bottom: 0;
	height: 5%;
	left: 50%;
	transform: translate(-50%, 0);
}

.instructions_text_container {
	position: relative;
	width: 66%;
	margin: 30% 17% 0 17%;
	padding-bottom: 20%;
}

.star {
	position: absolute;
	width: 25px;
}

#left_star {
	top: 0;
	left: -40px;
}

#mid_star {
	width: 12px;
	top: -40px;
	left: 20%;
}

#right_star {
	right: -40px;
	top: -10px;
}

.instructions_text_container h2 {
	-webkit-text-stroke: .5px #000;
	font-family: lilita_oneregular;
	font-size: 32px;
	color: #fb7573;
	line-height: 32px;
	padding-bottom: 35px;
}

.instructions_text_container p {
	font-family: senregular;
	font-size: 15px;
}