*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.fset filter=lfs diff=lfs merge=lfs -text
*.iset filter=lfs diff=lfs merge=lfs -text
*.fest3 filter=lfs diff=lfs merge=lfs -text
