.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.cover_fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

body {
	background: url(../../Data/Frontend/Images/Background/clouds-main-background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#problem_overlay {
	z-index: 4;
}

#loading_overlay {
	z-index: 4;
}


#back_button_container {
	z-index: 1;
	position: fixed;
	top: 30px;
	left: 30px;
}

#back_button_container img {
	height: 20px;
}

.view_container {
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.phone-icon {
	display: inline;
	width: 15px;
	padding: 5px 5px;
	vertical-align: bottom;
}

#icon-middle {
	vertical-align: middle;
}

#icon-bottom {
	vertical-align: bottom;
}

#icon-top {
	vertical-align: top;
}