#transition_container {
	overflow: hidden;
	pointer-events: none;
	z-index: 10; 
}

.white_transition_bg {
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
}

#transition_bg_solid {
	opacity: 1;
}

.transition_cloud {
	position: absolute;
	/* animation-fill-mode: forwards; */
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
}

#cloud_goal_1 {
	/* from right */
	width: 40%;
	bottom: 15%;
	right: 10%;
}

.cloud_start_1 {
	width: 40%;
	bottom: 15%;
	right: -50%;
}

#cloud_goal_2 {
	/* from right */
	right: 0;
	width: 100%;
	top: -20%;
}

.cloud_start_2 {
	right: -100%;
	width: 100%;
	top: -20%;
}

#cloud_goal_3 {
	/* from left */
	left: 10%;
	top: 20%;
	width: 80%;
}

.cloud_start_3 {
	left: -90%;
	top: 20%;
	width: 80%;
}

#cloud_goal_4 {
	/* from right */
	right: 15%;
	top: 5%;
	width: 50%;
}

.cloud_start_4 {
	right: -50%;
	top: 5%;
	width: 50%;
}

#cloud_goal_5 {
	/* from left */
	width: 100%;
	left: -20%;
	bottom: 30%;
}

.cloud_start_5 {
	width: 100%;
	left: -110%;
	bottom: 30%;
}

#cloud_goal_6 {
	/* from right */
	width: 60%;
	right: -30%;
	bottom: 45%;
}

.cloud_start_6 {
	width: 60%;
	right: -70%;
	bottom: 45%;
}

#cloud_goal_7 {
	/* from left */
	width: 80%;
	bottom: -2%;
	left: -20%;
}

.cloud_start_7 {
	width: 80%;
	bottom: -2%;
	left: -90%;
}