.text_page img {
	position: absolute;
}

.cards_and_title {
	position: absolute;
	width: 80%;
	top: 15%;
	left: 10%;
	padding-bottom: 150px;
}

.cards_and_title h3 {
	-webkit-text-stroke: .5px #000;
	font-family: lilita_oneregular;
	font-size: 32px;
	text-align: center;
	color: #fb7573;
	line-height: 32px;
	padding: 0 35px 35px 35px;
}

.cards_scroll_container {
	overflow-y: scroll;
}

.text_card {
	border: 1px solid #000;
	position: relative;
	box-sizing: border-box;
	padding: 20px 15px 40px 30px;
	margin-bottom: 30px;
	text-align: left;
}

.text_card h4 {
	font-size: 12px;
}

.text_card h2 {
	padding-bottom: 15px;
}

.answers_card {
	background-color: #b9e4fb;
}

.information_card {
	background-color: #cdf3ec;
}

.card_frog {
	bottom: 10px;
	right: 10px;
	height: 20px;
}

#info_gold_circle {
	right: 10%;
	top: 30px;
	width: 70px;
}

#info_forrest {
	right: -5%;
	bottom: 0;
	height: 130px;
}

#info_butterfly {
	left: 0;
	height: 50px;
	bottom: 30px;
}

#answer_cactus {
	left: 50%;
	height: 150px;
	bottom: 0;
	transform: translate(-50%, 0);
}

#answer_arrow {
	right: 30%;
	width: 12%;
	top: 5%;
}

#answer_x {
	top: 5%;
	right: 12%;
	width: 12%;
}

#answer_d {
	top: 13%;
	right: 5%;
	width: 20%;
}