.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 70%;
	transform-origin: center center;
	/* transform: translate(-50%, -50%); */
	z-index: 5;
}

.popup_bg {
	width: 100%;
}

.popup_information_container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.popup_information_container h3, 
.popup_information_container h2, 
.popup_information_container p {
	box-sizing: border-box;
	align-self: center;
	text-align: center;
}

#information_title {
	-webkit-text-stroke: .5px #000;
	font-size: 26px;
	line-height: 26px;
	color: #f283ff;
	font-family: lilita_oneregular;
	padding: 15px 10px 10px 10px;
}

.bold_title {
	font-family: lilita_oneregular;
	font-size: 26px;
	line-height: 26px;
}

.regular_title {
	font-family: senregular;
	font-size: 26px;
	line-height: 22px;
}

#large_information_text {
	font-family: senregular;
	font-size: 15px;
}

.popup_information_container img {
	width: 70px;
	align-self: center;
	padding-top: 20px;
}

#yes_no_container {
	align-self: center;
	padding-top: 20px;
}

#yes_no_container img {
	padding: 0 10px;
}