#head_txt_4 {
	color: rgb(87, 26, 34);
	padding: 30px 0;
}

.color_bold_4 {
	color: rgb(151, 64, 78);
	font-family: senbold;
}

.bold_black_4 {
	font-family: senbold;
}

#info_leafs_4 {
	width: 80%;
	/* padding-bottom: 20px; */
}

#bf_4_container {
	position: relative;
	width: 100%;
}

#flower_4 {
	margin: 80px 0 0 15%;
	width: 33%;
}

#beetle_4 {
	width: 40%;
	float: right;
	margin: 20px 0 0 0;
}

#footer_container_4 {
	background-image: url(../../Data/Frontend/Images/Information/Page_4/footer-background.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

#footer_head_txt_4 {
	color: rgb(251, 239, 213);
	text-align: center;
	padding:30px 0;
}

.footer_circle {
    width: 5px;
    margin-top: 10px;
	float: left;
}

.footer_point {
    padding: 0;
}

.bold_url {
    color: #000;
    text-decoration: none;
    word-break: break-all;
    font-family: senbold;
}