#witch_3 {
	padding: 100px 5% 40px 5%;
	width: 90%;
}

#cloud_text_3 {
	width: 100%;
}

.color_b_t {
	color: rgb(235, 96, 73);
	font-family: senbold;
}

#bush_3 {
	margin-left: 40%;
	width: 60%;
}

#content_3_margin {
	padding-bottom: 0;
}