#menu_title {
	color: rgb(255, 180, 17);
}

#no_pad_bottom {
	padding-bottom: 0;
}

.information_button {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

.information_button img {
	width: 100%;
}

.information_button h2 {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 0;
	font-size: 20px;
	font-family: lilita_oneregular;
	-webkit-text-stroke: .5px #000;
	color: #fff;
}

