#select_character {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#select_character h2 {
	font-family: lilita_oneregular;
	font-size: 30px;
	line-height: 32px;
	padding-bottom: 30px;
}

#characters {
	width: 100%;
}

.character {
	float: left;
	width: 50%;
	text-align: center;
}

.character img {
	width: 100%;
}

.character h2 {
	font-family: lilita_oneregular;
	font-size: 34px;
	-webkit-text-stroke: .5px #000;
	padding-top: 20px;
	color: #f68062;
}

.character:first-child h2{
	color: #f9df93;
}
