@media (min-width: 600px) {
	#color_selection_container {
		bottom: 5.5%;
		width: 100%;
	}
	
	#color_selection_center {
		margin-left: calc( 27.5% + 15px);
		width: 45%;
	}
	
	.color_option {
		margin-left: -10px;
		margin-bottom: -200px;
		width: 20%;
	}
}