#canvas_mask {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%);
	overflow: hidden;
}

#paint2d {
	position: absolute;
	left: 0;
	bottom: 0;
}

#color_selection_container {
	position: absolute;
	bottom: 5.5%;
	width: 100%;
}

#color_selection_center {
	margin-left: calc( 12% + 15px);
	width: 76%;
}

.color_option {
	margin-left: -10px;
	margin-bottom: -200px;
	width: 20%;
}

.color_option:first-child {
	margin: 0;
}

.active_color {
	padding-bottom: 20px !important;
}

#confirm_and_clear_buttons {
	position: absolute;
	z-index: 100;
	top: 30px;
	right: 15px;
}

.painting_btn {
	float: left;
	width: 60px;
	margin-right: 15px;
}